* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.header {
	width: 100%;
	height: 550px;
	background-color: yellow;
}

.header-top {
	width: 100%;
	height: 50px;
	background-color: red;
}

.header-bottom {
	width: 100%;
	height: 500px;
	background-color: orange;
}

.main {
	width: 960px;
	height: 1400px;
	background-color: yellow;
	margin: 0 auto;
}

.sider-left {
	float: left;
	width: 230px;
	height: 1400px;
	background-color: lightgreen;
}

.blog {
	float: left;
	width: 500px;
	height: 1400px;
	background-color: limegreen;
}

.sidebar-right {
	float: left;
	width: 230px;
	height: 1400px;
	background-color: lightgreen;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: blue;
}
